*{
    margin: 0;
    padding: 0;
}
header {
font-weight: bold;
background-color: blue;
color: white;
text-align: center;
padding:1.5%; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.fiveDay {
    margin: 0 50px 10px 50px;
    position: absolute;
    right: 0;
    top: 400px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.forecastCard {
background-color:rgb(44, 44, 76);
text-align: center;
color: white;
padding:5px;
margin:5px;
width: 250px;
height: 220px;
font-size: 20px;
font-family: "Roboto", sans-serif;
border-radius: 8px;

}