*{
    margin: 0;
    padding: 0;
}
header {
font-weight: bold;
background-color: linear-gradient((rgb(72, 72, 250)),(rgb(34, 34, 241)),blue);
color: white;
text-align: center;
padding:1.5%; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}