*{
    margin: 0;
    padding: 0;
}
header {
font-weight: bold;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color: white;
text-align: center;
padding:1.5%; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.fiveDay {
    margin: 0 50px 10px 50px;
    position: absolute;
    right: 0;
    top: 400px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.forecastCard {
background-color:rgb(44, 44, 76);
text-align: center;
color: white;
padding:5px;
margin:5px;
width: 250px;
height: 220px;
font-size: 20px;
font-family: "Roboto", sans-serif;
border-radius: 8px;
}

/*Formatting for lower left content to be on the left side*/
.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
}

#searchBtn{
    background-color:rgb(92, 92, 253);
    color: white;
    height: 30px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid blue;
    line-height: 8px;
    transform: scale(0.95);
    width:75%;
}

#searchBtn:hover {
    background: blue;
}

#userInput {
font-size: 20px;
margin:10px;
padding:10px;
}

h2{
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

#displayCityWeather {
    border-style: solid;
    margin-left: 27.5%;
    margin-right: 3%;
    margin-top:2%;
}

#displayCityWeather p {
margin:1%;
}